@model Student
@{
    ViewData["Title"] = "Create";
}

<div class="container">
    <h1>Add Student</h1>
    <form method="post">
        <table class="table">
            <tr>
                <td>Name</td>
                <td>
                    <input type="text" name="Name" />
                </td>
            </tr>
            <tr>
                <td>Age</td>
                <td>
                    <input type="number" name="Age" />
                </td>
            </tr>
            <tr>
                <td>Email</td>
                <td>
                    <input type="email" name="Email" />
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <input type="submit" class="btn btn-primary" value="Save"/>
                </td>
            </tr>
        </table>
    </form>
</div>