@model List<Assignment5.Models.Student>
@{
    ViewData["Title"] = "Index";
}
<div class="container">
    <h2>Student List</h2>

    <a href="/Student/Create" class="btn btn-primary">Add New Student</a>
</div>
<div class="container">
    <table class="table">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Age</th>
        <th>Email</th>
        <th>Actions</th>
    </tr>
        @foreach(var s in Model)
        {
            <tr>
                <td>@s.Id</td>
                <td>@s.Name</td>
                <td>@s.Age</td>
                <td>@s.Email</td>
                <td>
                    <a href="/Student/Edit/@s.Id" class="btn">Edit</a>
                    <a href="/Student/Delete/@s.Id" class="btn">Delete</a>
                </td>
            </tr>
        }
    </table>
</div>

