@model List<Assignment8.Models.Student>
@{
    ViewData["Title"] = "Index";
}

<div class="container">
    <h2>Student data</h2>
    <button><a href="/Student/Create">Add Student</a></button>
    <table class="table">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Age</th>
            <th>Email</th>
        </tr>
        @if(Model!=null && Model.Count > 1)
        {
            foreach(var s in Model)
            {
                <tr>
                    <td>@s.Id</td>
                    <td>@s.Name</td>
                    <td>@s.Age</td>
                    <td>@s.Email</td>
                </tr>
            }
        }
        else
        {
            <p>No data found</p>
        }
    </table>
</div>
