@model Assignment9.Models.Student
@{
    ViewData["Title"] = "Edit";
}

<div class="container">
    <form asp-action="Edit" method="post">
        <table class="table">
            <tr>
                <td type="hidden">Id</td>
                <td>
                    <input type="hidden" asp-for="Id" />
                </td>
            </tr>
            <tr>
                <td>Name</td>
                <td>
                    <input type="text" asp-for="Name" />
                </td>
                <td>
                    <span asp-validation-for="Name" class="text-danger"></span>
                </td>
            </tr>
            <tr>
                <td>Age</td>
                <td>
                    <input type="number" asp-for="Age" />
                </td>
                <td>
                    <span asp-validation-for="Age" class="text-danger"></span>
                </td>
            </tr>
            <tr>
                <td>Email</td>
                <td>
                    <input type="email" asp-for="Email" />
                </td>
                <td>
                    <span asp-validation-for="Email" class="text-danger"></span>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <input type="submit" value="Update" />
                </td>
            </tr>
        </table>
    </form>
</div>

