@model MVC_Assignment_3.ViewModels.UserViewModel
@{
    ViewData["Title"] = "Profile";
}

<div class="container">
    <h2>Profile</h2>
    <p>Name:@Model.Name</p>
    <p>Email:@Model.Email</p>
    <a href="/User/Edit">Edit Profile</a>
    <a href="/User/Logout">Logout</a>
</div>
